---
import BaseLayout from "@/layouts/BaseLayout.astro";
import FadeInText from "@/components/page/FadeInText.svelte";
import HoverStaggerText from "@/components/page/HoverStaggerText.svelte";
import EmailForm from "@/components/page/EmailForm.svelte";
import { ExternalLink, Send } from "@lucide/astro";
import { Image } from "astro:assets";

import LkdImage from "@/images/linkedin-black.png";
import GhImage from "@/images/github-black.png";
import MailImage from "@/images/mail-logo.svg";
import CfImage from "@/images/cf-logo.png";
import LcImage from "@/images/lc-logo.png";
import XImage from "@/images/x-black.png";

const contacts = [
  {
    img: LkdImage,
    name: "LinkedIn",
    className: "border-blue-700 text-blue-700 bg-blue-50",
    href: "https://www.linkedin.com/in/manikya-sharma-84615125a/",
    id: "lkd",
  },
  {
    img: GhImage,
    name: "GitHub",
    className: "border-slate-700 text-slate-700 bg-slate-50",
    href: "https://github.com/Manikya-Sharma",
    id: "gh",
  },
  {
    img: MailImage,
    name: "Email",
    className: "border-cyan-700 text-cyan-700 bg-cyan-50",
    href: "mailto:manikyasharma.ms@gmail.com",
    id: "ml",
  },
  {
    img: CfImage,
    name: "Codeforces",
    className: "border-rose-700 text-rose-700 bg-rose-50",
    href: "https://codeforces.com/profile/manikya_sharma",
    id: "cf",
  },
  {
    img: LcImage,
    name: "Leetcode",
    className: "border-yellow-700 text-yellow-700 bg-yellow-50",
    href: "https://leetcode.com/u/ManikyaSharma/",
    id: "lc",
  },
  {
    img: XImage,
    name: "Twitter (X)",
    className: "border-zinc-700 text-zinc-700 bg-zinc-50",
    href: "https://x.com/manikya_sharma_",
    id: "tw",
  },
];
// TODO: Use server api route for env vars
const vars = {
  service_id: "" /*,import.meta.env.EMAILJS_SERVICE_ID! */,
  template_id: "" /*, import.meta.env.EMAILJS_TEMPLATE_ID!*/,
  user_id: "" /*, import.meta.env.EMAILJS_PUBLIC_KEY!*/,
  accessToken: "" /*, import.meta.env.EMAILJS_PRIVATE_KEY!*/,
};
---

<BaseLayout>
  <main
    class="min-h-screen mt-24 md:mt-0 flex flex-col justify-center text-lg sm:text-xl px-5 sm:px-20 mx-auto font-space leading-relaxed"
  >
    <div
      class="flex flex-col md:flex-row items-center gap-14 xl:gap-28 2xl:gap-32"
    >
      <div class="flex-3">
        <FadeInText client:only="svelte" id="touch">
          <h1
            class="font-semibold tracking-tight uppercase text-5xl text-center md:text-left 2xl:text-7xl"
          >
            Get In Touch
          </h1>
        </FadeInText>
        <ul
          class="grid grid-cols-2 sm:grid-cols-2 sm:grid-rows-3 2xl:grid-cols-3 xl:grid-rows-2 gap-4 font-figtree text-[1.125rem]"
        >
          {
            contacts.map(({ className, img, name, href, id }) => (
              <li class="min-w-32 sm:min-w-42 text-base sm:text-lg">
                {/* @ts-expect-error: We have passed slots as children */}
                <HoverStaggerText
                  client:load
                  id={id}
                  href={href}
                  className={className}
                  content={name}
                >
                  <Image
                    slot="pref"
                    loading="eager"
                    alt=""
                    role="presentation"
                    class="block size-5"
                    src={img}
                  />
                  <ExternalLink slot="suff" class="size-5" />
                </HoverStaggerText>
              </li>
            ))
          }
        </ul>
      </div>
      <EmailForm {...vars} client:load>
        <span
          class="flex text-[1.125rem] gap-1.5 items-center font-electrolize"
        >
          Send
          <Send class="size-5" />
        </span>
      </EmailForm>
    </div>
  </main>
</BaseLayout>
