---
import BaseLayout from "@/layouts/BaseLayout.astro";
import FadeInText from "@/components/page/FadeInText.svelte";
import HoverStaggerText from "@/components/page/HoverStaggerText.svelte";
import FlippingButton from "@/components/page/FlippingButton.svelte";
import { ExternalLink, Send } from "@lucide/astro";

const contacts = [
  {
    img: "/linkedin-black.png",
    name: "LinkedIn",
    className: "border-blue-700 text-blue-700 bg-blue-50",
    href: "https://www.linkedin.com/in/manikya-sharma-84615125a/",
    id: "lkd"
  },
  {
    img: "/github-black.png",
    name: "GitHub",
    className: "border-slate-700 text-slate-700 bg-slate-50",
    href: "https://github.com/Manikya-Sharma",
    id: "gh"
  },
  {
    img: "/mail-logo.svg",
    name: "Email",
    className: "border-cyan-700 text-cyan-700 bg-cyan-50",
    href: "mailto:manikyasharma.ms@gmail.com",
    id:"ml"
  },
  {
    img: "/cf-logo.png",
    name: "Codeforces",
    className: "border-rose-700 text-rose-700 bg-rose-50",
    href: "https://codeforces.com/profile/manikya_sharma",
    id: "cf"
  },
  {
    img: "/lc-logo.png",
    name: "Leetcode",
    className: "border-yellow-700 text-yellow-700 bg-yellow-50",
    href: "https://leetcode.com/u/ManikyaSharma/",
    id: "lc"
  },
  {
    img: "/x-black.png",
    name: "Twitter (X)",
    className: "border-zinc-700 text-zinc-700 bg-zinc-50",
    href: "https://x.com/manikya_sharma_",
    id: "tw"
  },
];
---

<BaseLayout>
  <main
    class="min-h-screen mt-24 md:mt-0 flex flex-col justify-center text-lg sm:text-xl px-5 sm:px-20 mx-auto font-space leading-relaxed"
  >
    <div class="flex flex-col md:flex-row items-center gap-14 xl:gap-28 2xl:gap-32">
      <div class="flex-3">
        <FadeInText client:only id="touch">
          <h1
            class="font-semibold tracking-tight uppercase text-5xl text-center md:text-left 2xl:text-7xl"
          >
            Get In Touch
          </h1>
        </FadeInText>
        <ul class="grid grid-cols-2 sm:grid-cols-2 sm:grid-rows-3 2xl:grid-cols-3 xl:grid-rows-2 gap-4 font-figtree text-[1.125rem]">
          {
          contacts.map(({ className, img, name, href, id }) => (
              <li class="min-w-32 sm:min-w-42 text-base sm:text-lg">
                <HoverStaggerText client:load id={id} href={href} className={className} content={name}>
                    <img slot="pref" class="block size-5" src={img} />
                    <ExternalLink slot="suff" class="size-5" />
                  </HoverStaggerText>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div
        class="flex-2 xl:flex-4 w-full md:max-w-160 xl:aspect-video border border-black/20 rounded-md shadow grid grid-cols-1 place-items-center py-12 px-6"
      >
        <FadeInText client:only id="convo"
          ><span class="font-semibold uppercase tracking-tight text-2xl xl:text-3xl"
            >Start a Conversation</span
          ></FadeInText
        >
        <div class="flex flex-col gap-1.5 w-full mb-5">
          <div class="text-lg">Name</div>
          <input
            class="input font-figtree placeholder:text-base text-lg w-full"
            placeholder="Your name"
          />
        </div><div class="flex flex-col gap-1.5 w-full mb-5">
          <div class="text-lg">Email</div>
          <input
            class="input font-figtree placeholder:text-base text-lg w-full"
            placeholder="your@email.com"
          />
        </div><div class="flex flex-col gap-1.5 w-full mb-5">
          <div class="text-lg">Message</div>
          <textarea class="textarea font-figtree text-lg w-full"></textarea>
        </div>
        <div class="w-full flex items-center justify-end">
          <FlippingButton client:load id="send-button">
            <span
              class="flex text-[1.125rem] gap-1.5 items-center font-electrolize"
            >
              Send
              <Send class="size-5" />
            </span>
          </FlippingButton>
        </div>
      </div>
    </div>
  </main>
</BaseLayout>
