---
import BaseLayout from "@/layouts/BaseLayout.astro";
import DetailPageLayout from "@/layouts/DetailPageLayout.astro";
import FadeInText from "@/components/page/FadeInText.svelte";
import FadeSection from "@/components/page/FadeSection.astro";
import HoverRound from "@/components/page/HoverRound.svelte";
import ScrollDownIndicator from "@/components/page/ScrollDownIndicator.svelte";
import BottomNav from "@/components/navbar/BottomNav.astro";
import { ArrowRight } from "@lucide/astro";
import { projects } from "@/data/projects";
import { Image } from "astro:assets";

const allImages = import.meta.glob<{ default: ImageMetadata }>(
  "@/images/project-images/*.png",
);

const images = projects.map(({ id }) => {
  const filteredImages = Object.entries(allImages).filter(([path]) =>
    path.includes(id),
  );
  return filteredImages.map(([, importer]) => {
    return importer();
  });
});
---

<BaseLayout>
  <DetailPageLayout>
    <HoverRound client:only="svelte">
      <ArrowRight class="text-white size-7" />
    </HoverRound>
    <section>
      <div class="uppercase h-screen w-full grid place-items-center">
        <FadeInText client:only id="h1">
          <h1
            class="text-6xl sm:text-9xl font-space font-semibold tracking-tighter"
          >
            Projects
          </h1>
        </FadeInText>
        <div class="absolute bottom-7 right-5">
          <ScrollDownIndicator client:only />
        </div>
      </div>
    </section>

    {
      projects.map(({ id, title }, index) => (
        <FadeSection
          id={id}
          title={title}
          extlink={{ href: `/projects/${id}` }}
        >
          {/* cursor-none works because we have hover-block */}
          <a class="cursor-none" href={`/projects/${id}`}>
            <Image
              class="hover-block w-full block aspect-video object-contain rounded-md ring-2 ring-offset-1 ring-black/40"
              src={images[index][0]}
              alt={`${title}`}
            />
          </a>
        </FadeSection>
      ))
    }
  </DetailPageLayout>
  <BottomNav
    prev={{ href: "/skills", name: "Skills" }}
    next={{ href: "/contact", name: "Socials" }}
  />
</BaseLayout>
