---
import { Code, GraduationCap, Heart, Menu, Pen, X } from "@lucide/astro";
import HamburgerSvelte from "./Hamburger.svelte";
import FlippingText from "./FlippingText.svelte";
import { MENU_OPTION_HEIGHT } from "@/data/constants";
const options = [
  {
    icon: Pen,
    text: "Intro",
    href: "#intro",
  },
  {
    icon: GraduationCap,
    text: "Education",
    href: "#education",
  },
  {
    icon: Code,
    text: "Experience",
    href: "#experience",
  },
  {
    icon: Heart,
    text: "Interests",
    href: "#interests",
  },
];
---

<HamburgerSvelte length={options.length} client:load>
  <Menu slot="open" class="size-6" />
  <X slot="close" class="size-6" />
  <ul slot="options">
    {
      options.map((option) => (
        <li class="py-2">
          <FlippingText client:load id={option.text}>
            <a
              href={option.href}
              class="font-electrolize text-lg flex gap-2 items-center"
              style={{ height: `${MENU_OPTION_HEIGHT}px` }}
            >
              <option.icon class="size-4" /> {option.text}
            </a>
          </FlippingText>
        </li>
      ))
    }
  </ul>
</HamburgerSvelte>
