---
import type { GetStaticPaths } from "astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { projectDetails, projects } from "@/data/projects";
import FadeInText from "@/components/page/FadeInText.svelte";
import { ExternalLink } from "@lucide/astro";
import StaggerTags from "@/components/page/StaggerTags.svelte";
import { bgMap, getTagText, tagColorMap } from "@/data/tags";
import { Image } from "astro:assets";

export const getStaticPaths = (() => {
  return projects.map((project) => ({
    params: { project: project.id },
  }));
}) satisfies GetStaticPaths;

const { project } = Astro.params;
const title = projects.filter(({ id }) => id === project)[0].title;

const allImages = Object.entries(
  import.meta.glob<{ default: ImageMetadata }>("@/images/project-images/*.png"),
);
const images = allImages
  .filter(([path]) => path.includes(project))
  .map(([, img]) => img());

const { description, github, tags, deployed } = projectDetails[project];

const bgs = tags?.map((tag) => bgMap[tag]);
const fgs = tags?.map((tag) => tagColorMap[tag]);
const tagNames = tags?.map((tag) => getTagText(tag));
---

<BaseLayout>
  <main
    class="text-lg sm:text-xl px-5 sm:px-20 mx-auto font-figtree mb-20 md:mb-36 leading-relaxed"
  >
    <div class="flex flex-col xl:flex-row items-center gap-10 mt-32">
      <div class="flex-2">
        <FadeInText client:only="svelte" id={project}>
          <h1
            class="font-space font-semibold tracking-tight uppercase text-4xl sm:text-7xl"
          >
            {title}
          </h1>
        </FadeInText>
        <div class="-mt-2 mb-3 flex gap-2 text-[1.1rem] text-blue-600">
          <a
            class="flex items-center gap-0.5 underline underline-offset-4 hover:no-underline"
            href={github}>GitHub<ExternalLink class="inline-block size-4" /></a
          >
          {
            deployed && (
              <a
                class="flex items-center gap-0.5 underline underline-offset-4 hover:no-underline"
                href={deployed}
              >
                Deployed Link
                <ExternalLink class="inline-block size-4" />
              </a>
            )
          }
        </div>
        <div class="text-pretty">
          <Fragment set:html={description} />
        </div>
        <div class="mt-5">
          <StaggerTags
            client:only="svelte"
            fgs={fgs}
            bgs={bgs}
            tagNames={tagNames}
            tags={tags}
          />
        </div>
      </div>
      <div
        class="flex-3 carousel carousel-center space-x-2 mt-3 rounded-md p-2 bg-zinc-800"
      >
        <div id="slide-0" class="relative carousel-item w-full rounded-md">
          <video controls muted>
            <source src={`/project-videos/${project}.mp4`} type="video/mp4" />
          </video>
          <button
            onclick={`history.replaceState(null, '', '#slide-1'); location.replace( '#slide-1');`}
            class="absolute top-0 bottom-10 right-0 px-4 py-1 rounded-md bg-black/30 text-white backdrop-blur-md"
          >
            ❯
          </button>
        </div>
        {
          images.map((image, index) => (
            <div
              id={`slide-${index + 1}`}
              class="relative carousel-item w-full rounded-md"
            >
              <Image
                src={image}
                alt={`${title}-${index + 1}`}
                class="w-full aspect-video object-contain rounded-md"
                loading="eager"
              />
              <button
                onclick={`history.replaceState(null, '', '#slide-${index}'); location.replace( '#slide-${index}');`}
                class="absolute top-1/2 -translate-y-1/2 left-3 px-4 py-1 rounded-md bg-black/30 text-white backdrop-blur-md"
              >
                ❮
              </button>
              {index < images.length - 1 && (
                <button
                  onclick={`history.replaceState(null, '', '#slide-${index + 2}'); location.replace( '#slide-${index + 2}');`}
                  class="absolute top-1/2 -translate-y-1/2 right-3 px-4 py-1 rounded-md bg-black/30 text-white backdrop-blur-md"
                >
                  ❯
                </button>
              )}
            </div>
          ))
        }
      </div>
    </div>
  </main>
</BaseLayout>
